.row{
    padding: 5px;
}
img{
    border: 2px solid black;
    border-radius: 5px;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.menu-autre{
    position: absolute;
    padding: 15px;
}
.menu-classique{
    position: absolute;
    padding: 20px;
}
